/*page structure and general formatting*/
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0;
    background-color: #004080;
}
header img{height:100px;}
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #036;
}
.navbar *{
    color: #fff;
    text-decoration: none;
}
.navbar>a:hover{
    color: #fff;
    text-decoration: underline;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: #004080;
    color: #fff;
}
body *{font-family: sans-serif;}
body{margin:0px;}
main{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #d4d4d4;
}
main>div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    align-items: center;
}
form{
    display: flex;
    background-color: #cacaca;
}
table{
    width: 100%;
    border: none;
    color: #000;
}
td{text-align:center;}
h1{color: #fff}
h2{color: #004080;}
h3, h3, div, p, label{color: #000;}
button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
}
button>a{color: #fff; text-decoration: none;} /*remove when these anchors are removed*/
button>a:hover{color: #fff; text-decoration: none;} /*remove when these anchors are removed*/


/*for login.html*/
#loginform{
    flex-direction: column;
    padding: 30px;
    margin: 0px 150px;
    border-radius: 30px;
    box-shadow: 10px 20px 10px #cecece;
}
#loginform>label{
    margin: 5px;
    font-size: 16px;
}
#loginform>input{
    padding: 10px;
    margin-bottom: 30px;
    border: 3px solid #888;
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
}
#loginbutton{
    max-width: 100px;
    margin: 20px;
    background-color: #008000;
}
#loginbutton:hover{
    background-color: #006600;
}
#forgotpassword{
    color: #004080;
    text-decoration: none;
}
#forgotpassword:hover{
    text-decoration: underline;
}

/*for course_view.html*/
select{
    padding: 5px;
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
}
.tile{
    width: 33%;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    background-color: #e6f2ff;
    box-shadow: 20px 20px 10px #cecece;
}
.tile>img{
    width: 100%;
    border-radius: 5px;
}
.accept{
    padding: 5px;
    background-color: #4CAF50;
}
.accept:hover{
    background-color: #265e28;
}
.decline{
    padding: 5px;
    background-color: #D32F2F;
}
.decline:hover{
    background-color: #821b1b;
}

/*for attempt_quiz.html*/
.banner{
    width: 100%;
    height: 150px;
    border-radius: 5px;
}
.quiz_details{
    padding: 20px;
    margin: 0px 250px;
    background-color: #e6f2ff;
}
.question{
    width: 300px;
    flex-wrap: wrap;
    justify-items: flex-start;
    padding: 20px;
}
.question label{
    width: 90%;
    text-align: left;
}
.submit_answer{
    margin-top: 10px;
    color: #000;
    background-color: #e6f2ff;
}
.submit_answer:hover{
    color: #fff;
    background-color: #003366;
}
.finish_quiz{
    margin-top: 10px;
    background-color: #D32F2F;
}
.finish_quiz:hover{
    background-color: #821b1b;
}

/*for leaderboard.html*/
#leaderboard{
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 20px;
}
#leaderboard tr:nth-child(1){
    color:#fff;
    background-color:#4CAF50;
    font-size:36px;
}
#rank1{background-color:#ffd700;}
#rank2{background-color:#c0c0c0;}
#rank3{background-color:#CD7F32;}
#rank_odd{background-color:#f9f9f9;}
#rank_even{background-color:#e4e2e2}
#leaderboard img{
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}