header{
    display: flex;
    background-color: #004080;
    padding: 20px;
    margin: 0;
    justify-content: space-between;
}
header img{height:100px;}
.navbar{
    display: flex;
    background-color: #036;
    justify-content: space-around;
}
.navbar>*{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}
.navbar>a:hover{
    text-decoration: underline;
    color: #fff;
}
footer{
    color: #fff;
    background-color: #004080;
    padding: 10px;
    text-align: center;
}
body *{font-family: sans-serif;}
h2{color: #004080;}
p, h4, h3, div, label{color: #000;}
form{background-color: #cacaca;}
table{border: none; width: 100%;}
td{text-align:center;}
main{
    display: flex;
    background-color: #d4d4d4;
    flex-direction: column;
    text-align: center;
}
main>div{
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#loginform{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 0 150px;
    border-radius: 30px;
    box-shadow: 10px 20px 10px #cecece;
}
#loginform>label{
    font-size: 16px;
    margin: 5px;
}
#loginform>input{
    background-color: lightgoldenrodyellow;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #888;
    margin-bottom: 30px;
}
#loginbutton{
    background-color: #008000;
    border-radius: 5px;
    border: none;
    margin: 20px;
    padding: 10px;
    max-width: 100px;
}
#loginbutton:hover{
    background-color: #006600;
}
#loginbutton>a{
    /*remove when anchor is removed*/
    color: white;
    text-decoration: none;
}
#forgotpassword{
    color: #004080;
    text-decoration: none;
}
#forgotpassword:hover{
    text-decoration: underline;
}

select{
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    padding: 5px;
}
.tile{
    width: 33%;
    background-color: #e6f2ff;
    box-shadow: 20px 20px 10px #cecece;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
}
.tile>img{
    width: 100%;
    border-radius: 5px;
}
.accept{
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
.accept:hover{
    background-color: #265e28;
}
.decline{
    background-color: #D32F2F;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
.decline:hover{
    background-color: #821b1b;
}

.banner{
    width: 100%;
    height: 150px;
    border-radius: 5px;
}
.quiz_details{
    background-color: #e6f2ff;
    padding: 20px;
    margin: 0px 250px;
}
.question{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-items: flex-start;
    padding: 20px;
}
.question label{
    width: 90%;
    text-align: left;
}
.quiz>button{
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}
.submit_answer{
    color: #000;
    background-color: #e6f2ff;
}
.submit_answer:hover{
    color: #fff;
    background-color: #003366;
}
.finish_quiz{
    color: #fff;
    background-color: #D32F2F;
}
.finish_quiz a{
    /*remove when anchor is removed*/
    color:#fff;
    text-decoration:none;
}
.finish_quiz:hover{
    background-color: #821b1b;
}

#leaderboard{
    background-color: #d4d4d4;
    font-size: 20px;
    color: black;
    margin-top: 60px;
    margin-bottom: 30px;
}
#leaderboard tr:nth-child(1){
    color:#fff;
    font-size:36px;
    background-color:#4CAF50;
}
#rank1{background-color:#ffd700;}
#rank2{background-color:#c0c0c0;}
#rank3{background-color:#CD7F32;}
#rank_odd{background-color:#f9f9f9;}
#rank_even{background-color:#e4e2e2}
#leaderboard img{
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
}