.MainSection{
    margin:0px;
    background-color: #d4d4d4;
}
.MainSection *{
    font-family: sans-serif;
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
}
main>div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    align-items: center;
}
h2{color: #004080;}
h3, h4, main p, main span, label{color: #000;}

.testimonial{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.testimonial *{
    min-width: 160px;
    margin: 5px;
    margin-left: 20px;
}
.testimonial>h4{
    margin-left: 0px;
    align-self: center;
}
.stars{
    text-align: center;
    color: #ee7722;
}
.testifier{
    text-align: right;
}